<launch>
	<node name="fr_prop_cloudy" pkg="place_detection_isl"
		output="screen"
		type="place_detection_node" >
		<param name="tau_w" type="int" value="3" />
		<param name="tau_n" type="int" value="1" />
		<param name="tau_p" type="int" value="15" />
		<param name="tau_avgdiff" type="double" value="0.15" />
		<param name="tau_kappa" type="double" value="0.8" />
		<param name="tau_kappaHue" type="double" value="0.5" />
		<param name="camera_topic" type="string" value="/axis/image_raw" />
		<param name="image_width" type="int" value="640" />
		<param name="image_height" type="int" value="480" />
		<param name="focal_length_pixels" type="int" value="466" />
		<param name="tau_val_mean" type="double" value="0.2" />
		<param name="tau_val_var" type="double" value="0.001" />
		<param name="sat_lower" type="int" value="10" />
		<param name="sat_upper" type="int" value="255" />
		<param name="val_lower" type="int" value="10" />
		<param name="val_upper" type="int" value="255" />
		<!-- DEBUG MODE OPTIONS -->
		<param name="debug_mode" type="bool" value="true" />
		<param name="file_path" type="string" value="$(env HOME)/Datasets/Saarbrucken/Proposed/Cloudy/" />
		<param name="use_previous_memory" type="bool" value="false" />
		<param name="previous_memory_path" type="string" value="" />
	</node>
</launch>
